# 데이터 변환하기

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("./data/heart.csv")

In [3]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
df2 = df

In [10]:
class_label = LabelEncoder()

In [11]:
sex = df2['Sex'].values

In [12]:
sex_new = class_label.fit_transform(sex)

In [13]:
df2['Sex'] = sex_new

In [14]:
class_label.classes_

array(['F', 'M'], dtype=object)

In [15]:
df2

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,1,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,1,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,0,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,1,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [18]:
df2.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [20]:
label2 = LabelEncoder()
new2 = df2['ChestPainType'].values
value2 = class_label.fit_transform(new2)
df2['ChestPainType'] = value2

In [21]:
label3 = LabelEncoder()
new3 = df2['RestingECG'].values
value3 = class_label.fit_transform(new3)
df2['RestingECG'] = value3

In [22]:
label4 = LabelEncoder()
new4 = df2['ExerciseAngina'].values
value4 = class_label.fit_transform(new4)
df2['ExerciseAngina'] = value4

In [23]:
label5 = LabelEncoder()
new5 = df2['ST_Slope'].values
value5 = class_label.fit_transform(new5)
df2['ST_Slope'] = value5

In [24]:
df2

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,1,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,2,0

In [25]:
df2.to_csv('./data/heart_disease.csv')

vetorization이 정말 중요하다.

알고리즘을 맹신하면 안된다. 정확도의 문제면 안된다.

---

머신러닝을 하기전에 데이터 표준화의 과정을 반드시 거쳐야 한다.

표준화 = (원데이터 - 평균) / 표준편차

평균0 표준편차1

세로로 피처의 각각의 평균과 표준편차를 구한다.

확률분포를 공부해야합니다아아...

머신러닝을 하든 데이터 분석을 하든 데이터는 무조건 흩어져있는게 좋다.

# 공분산행렬

피처 들간 얼마나 상관관계가 있냐 하는 것

cov(X)를 구하는데 n은 n-1이어도 된다.

# 차원 축소 실습

In [26]:
df2

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,1,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,2,0